.loginPopup-container{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .loginPopup {
    font-size: 15px;
    width: 50%;
    background-color: #555;
    text-align: center;
    border-radius: 6px;
    padding: 50px 0;
  
  }